body {
    background-image: url(bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    line-height: 1.5;
}

.my-nav-align {
    display: flex;
    justify-content: flex-end;
    
}

#logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: darkslategray

}

.contents {
    margin: 25px 0px 25px 0px;
    background-color: white;
    padding: 25px;
    font-size: medium;
    
}

p {
    display: block;
}

.about-me-title {
    font-weight: bold;
    font-size: larger;
    color: darkslategray;
}

#about-me-image {
    width: 200px;
    margin: 20px;
    float: left;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
}

.footer-style {
    background-color: darkslategray;
}

.footer-text {
    background-color: ivory;
    font-weight: bold;
    font-size: medium;
}